extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Page Not Found')

block content
    include ../partials/navbar
    +makeNavbar('404')

    header.lost
        .container
            .intro-text
                .row
                    .intro-heading wrong URL?
                    .intro-lead-in The page you requested does not exist.
                    a.page-scroll.btn.btn-xl(href='/') Go To Homepage

    include ../partials/contact

    include ../partials/footer
    include ../partials/bottom
