extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | About')

block content
    include ../partials/navbar
    +makeNavbar('about')

    header.about
        .container
            .row
                .intro-text
                    .intro-heading.col-md-12 webinar focused.
                    .intro-lead-in.col-md-9 We are devoted to producing professional webinars that deliver results.
                    .col-md-12
                        a.page-scroll.btn.btn-xl(href='#about') Learn More

    section#about.aboutPage
        .container
            .row
                .col-lg-12
                    h2.section-heading About
                    p.section-subheading Our mission requires us to care about and focus on all sorts of details. We care about your webinar sound quality. We care that your presenters enjoy the experience. We care that your marketing team minimizes its workload. We care that your business developers receive qualified leads. And much more.
                    p.section-subheading Finally, we provide a dedicated, professional team to make sure it all happens.
            br
            br
            br
            .row
                .col-lg-12
                    img.aaron-joslow(src='images/aaron-linkedin.jpg', alt='Aaron Joslow, Principal of Rally Point Webinars')
                .col-lg-12
                    .about-aaron
                        h3 Aaron Joslow, Co-Founder and Principal
                        p Aaron is an expert in producing premier webinars for leading businesses, organizations, and universities worldwide.
            br
            br
            .row
                .col-md-12
                    a.process-link(href='./services.html') View Our Process &raquo;
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
