extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | About')

block content
    include ../partials/navbar
    +makeNavbar('about')
    section#about
        .container
            .row
                .col-lg-12
                    h2.section-heading About
                    p.section-subheading
                        | Drawing upon our work with a variety of companies and industries, we collaborate with our industries to customize and execute a webinar strategy that fulfills their unique set of goals.
                    p.section-subheading Rally Point Webinars has been in business since 2009.
            br
            br
            br
            .row
                .col-lg-3
                    img.aaron-joslow(src='images/aaron-joslow.jpg', alt='Aaron Joslow, Principal of Rally Point Webinars')
                .col-lg-9
                    h3 Aaron Joslow, Co-Founder and Principal
                    .about-aaron
                        p
                            | What started as late-night meetings and weekends brainstorming at the local coffee shop has become Rally Point - a firm dedicated to helping global organizations deliver online events that make an impact. While our team continues to grow, Aaron B. Joslow continues to run the firm.
                        p
                            | Aaron is an expert in collaborating with business leaders to create valuable and sought-after content, in the form of articles, newsletters, podcasts, and online events.
                        p
                            | Aaron launched and produced the acclaimed RainToday.com webinar series, working with such experts as David Maister, Alan Weiss, Seth Godin, and Keith Ferrazzi. He also produced the weekly newsletter Rainmaker Report, a publication which has been hailed as &ldquo;the gold standard&rdquo; and &ldquo;The Economist&rdquo; in its niche of marketing and selling professional services.
                        p
                            | Aaron brings a unique blend of editing, marketing, management, and production skills having worked as a teacher, writer, editor, producer, and manager. He holds a BA in English with a concentration in Journalism/Creative Writing from Clark University.
            br
            br
            .row
                .col-md-12
                    a.process-link(href='./services.html') View Our Process &raquo;
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
