extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | About')

block content
    include ../partials/navbar
    +makeNavbar('about')

    header.about
        .container
            .row
                .intro-text
                    .intro-heading.col-md-12 webinar focused.
                    .intro-lead-in.col-md-9 We are devoted to producing professional webinars that deliver results.
                    .col-md-12
                        a.page-scroll.btn.btn-xl(href='#about') Learn More <span class="carot">&raquo;</span>

    section#about.aboutPage
        .container
            .row
                .col-lg-12
                    h2.section-heading About
                    p.section-subheading Rally Point Webinars is a webinar production and project management company devoted to delivering professional, online events. We are distinct in that other webinar providers are primarily technology vendors that offer add-on event support.
            br
            br
            br
            .row
                .col-lg-12
                    img.aaron-joslow(src='images/aaron-linkedin.jpg', alt='Aaron Joslow, Principal of Rally Point Webinars')
                .col-lg-12
                    .about-aaron
                        h3 Aaron Joslow, Founder and Principal
                        p Aaron is an expert in producing webinars for leading businesses, organizations, and universities worldwide.
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
