extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Additional Content')

block content
    include ../partials/navbar
    +makeNavbar('additional-content')

    section.additional-content
        .container
            .row
                .col-md-12
                    h2.section-heading Additonal Content
            .row
                .col-md-12
                    .article-links
                        each article in htmlWebpackPlugin.options.articles
                            p
                                a(href=`./${article.href}`)= article.title

    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
