extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Contact')

block content
    include ../partials/navbar
    +makeNavbar('contact')
    header.contact
        .container
            .intro-text
                .row
                    .intro-heading Inquire About Our Webinar Services.
                    .intro-lead-in Find out how we can help you.
                    |
                    a.page-scroll.btn.btn-xl(href='#contact') send us a message
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
