extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Contact')

block content
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
        .container
            .navbar-header.page-scroll
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    |  Menu
                    i.fa.fa-bars
                |
                a.navbar-brand.page-scroll(href='./index.html')
                    img(src='images/rally-point-check-logo.png', alt='')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='./services.html') Services
                    li
                        a(href='./industries.html') Industries
                    li
                        a(href='./thinking.html') Thinking
                    li
                        a(href='./about.html') About
                    li
                        a.contact-navlink.page-scroll(href='#contact') Contact
    header.contact
        .container
            .intro-text
                .row
                    .intro-heading Request a Quote for Webinar Services.
                    .intro-lead-in Find out how we can help you.
                    |
                    a.page-scroll.btn.btn-xl(href='#contact') send us a message
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
