extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Home')

block content
    include ../partials/navbar
    +makeNavbar('index')
    header.homepage
        .container
            .intro-text
                .row
                    .intro-heading webinars.
                    .intro-lead-in Businesses and organizations come to us when it counts.
                    a.page-scroll.btn.btn-xl(href='#about') Tell Me More
    section#about
        .container
            .row
                .col-lg-11
                    h2.section-heading Our Webinar Services Mission
                    p.how-it-works-text
                        | Rally Point Webinars is a full-service webinar production and project management company designed to deliver professional events. We are distinct in that other webinar providers are primarily technology vendors that offer add-on event support.
            br
            br
            .row
                .col-md-12
                    a.process-link(href='./services.html') View Our Services &raquo;
    section#technology.homepage
        .container
            .row
                .col-md-12
                    h2.section-heading Our Technology
        .technology-mobile
            .container
                .row
                    p.caption
                        | We provide our clients with Adobe&reg; Connect&trade;, the best webinar technology out there.
                    .image.one
                .row
                    p.caption
                        | Our technological setup that has you covered for every contingency, from backup webinar rooms to backup conference lines, to everything in between.
                    .image.two
                .row
                    p.caption
                        | Our webinar registration platform that is fully customizable, mobile friendly, and matches your branding.
                    .image.three
                .row
                    p.caption Get video recordings to generate leads after the webinar is over.
                    .image.four
        #technology-carousel.carousel.slide(data-ride='carousel')
            h2.section-heading Our Technology
            ol.carousel-indicators
                li.active(data-target='#technology-carousel', data-slide-to='0')
                li(data-target='#technology-carousel', data-slide-to='1')
                li(data-target='#technology-carousel', data-slide-to='2')
                li(data-target='#technology-carousel', data-slide-to='3')
            .carousel-inner(role='listbox')
                .item.active
                    .heading
                        p.caption We provide our clients with Adobe&reg; Connect&trade;, the best webinar technology out there.
                    .image.one
                .item
                    .heading
                        p.caption Our technological setup that has you covered for every contingency, from backup webinar rooms to backup conference lines, to everything in between.
                    .image.two
                .item
                    .heading
                        p.caption Our webinar registration platform that is fully customizable, mobile friendly, and matches your branding.
                    .image.three
                .item
                    .heading
                        p.caption Get video recordings to generate leads after the webinar is over.
                    .image.four
            a.left.carousel-control(href='#technology-carousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                |
                span.sr-only Previous
            a.right.carousel-control(href='#technology-carousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                |
                span.sr-only Next
        a.down-arrow.page-scroll(href='#thinking')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#thinking
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading Thinking
            .thinking-cards
                .thinking-card
                    a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=2897&source=homepage')
                        h3 An Interview With the &quot;Webinar Guru&quot;
                    .image
                        img.img-responsive(src='http://www.rallypointwebinars.com/webinars/rallypoint/2015/topsalescover-aaronv2.jpg', alt='')
                    .text
                        p
                            | Sales webinars, if done incorrectly, can provide more headaches than qualified leads.
                        p
                            | In &quot;No Sweat Webinars,&quot; learn how Aaron, Principal at Rally Point Webinars, can improve the quality of your webinars, save you time, and reduce stress.
                .thinking-card
                    a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=271&source=rpweventpage')
                        h3 The 7 Keys to Running a Glitch-Free Webinar
                    .image
                        img.img-responsive(src='http://www.rallypointwebinars.com/webinars/rallypoint/2015/whitepaperimage-registration.jpg', alt='')
                    .text
                        p
                            | Webinars bring in new business, but only if they run smoothly. Technical glitches, unprepared speakers, and ham-handed customer care can all ruin an event&apos;s effectiveness.
        a.down-arrow.page-scroll(href='#commitment')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#commitment.bg-light-gray
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading Our Commitment To You
                    h3.section-subheading.text-muted
                        em
                            | That you are provided with the best webinar platform, technology, and services. And, that you have a partner who ensures that your webinars deliver results, that your speakers are prepared, and that your customers, prospects, and employees taken care of.
            .row
        a.down-arrow.page-scroll(href='#contact')
            i.fa.fa-angle-double-down(aria-hidden='true')
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
