extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Services')

block content
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
        .container
            .navbar-header.page-scroll
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    |  Menu
                    i.fa.fa-bars
                |
                a.navbar-brand.page-scroll(href='./index.html')
                    img(src='images/rally-point-check-logo.png', alt='')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown.active
                        a.active.dropdown-toggle.nav-services-dropdown-btn(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Services
                            span.caret
                        ul.dropdown-menu.nav-services-dropdown-menu
                            li
                                a.page-scroll(href='#pre-production') Pre-Production
                            li
                                a.page-scroll(href='#production') Production
                            li
                                a.page-scroll(href='#post-production') Post-Production
                            li.divider(role='separator')
                            li
                                a.page-scroll(href='#technology') Technology
                            li
                                a.page-scroll(href='#customization') Customization
                    li
                        a(href='./industries.html') Industries
                    li
                        a(href='./thinking.html') Thinking
                    li
                        a(href='./about.html') About
                    li
                        a.contact-navlink(href='./contact.html') Contact
    header.services
        .container
            .intro-text
                .row
                    .intro-heading webinar services.
                    .intro-lead-in.col-md-7 Over 10 years of experience delivering high-stakes webinar events.
                    .col-md-12
                        a.page-scroll.btn.btn-xl(href='#services-links') View Our Process
    a.back-to-top-btn.page-scroll(href='#page-top')
        i.fa.fa-arrow-up(aria-hidden='true')
    #services-links
        .container
            .row
                ul
                    li
                        a.page-scroll(href='#pre-production') Pre-Production
                    li
                        a.page-scroll(href='#production') Production
                    li
                        a.page-scroll(href='#post-production') Post-production
                    li
                        a.page-scroll(href='#technology') Technology
                    li
                        a.page-scroll(href='#customization') Customization
    section#pre-production.service
        .container
            .row
                .col-lg-12
                    .text
                        h2 Pre-Production
                        p
                            strong Project Management:
                            |  We take the guesswork out of webinar preparation. We create and guide clients along pre-production timelines so that marketers, speakers, and business developers have laid the foundation a successful webinar.
                        p
                            strong Registration Management:
                            |  Our customizable, mobile-friendly, webinar registration platform matches the branding and needs of each client. Meanwhile, real-time reporting allows marketers to track and act on every activity.
                    .services-image
        a.down-arrow.page-scroll(href='#production')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#production.service.bg-light-gray
        .container
            .row
                .col-lg-12
                    .text
                        h2 Production
                        p
                            strong Expert Support:
                            |  In addition to the technology, we provide an experienced, dedicated production team to moderate and technical support your webinar.
                    .services-image
            br
            br
            br
            .row
                .things-that-go-wrong
                    h2.things-that-go-wrong-title We Cover Everything
                    ul.things-that-go-wrong-list
                        li Power-outage resistant delivery
                        li Two webinar production locations
                        li Multiple Internet connections at each location
                        li Multiple production computers
                        li Two conference line providers
                        li A backup webinar room
                        li And more...
        a.down-arrow.page-scroll(href='#post-production')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#post-production.service
        .container
            .row
                .col-lg-12
                    .text
                        h2 Post-Production
                        p
                            strong Reporting:
                            |  Receive detailed information on each registrant&rsquo;s and attendee&rsquo;s activities so you can nurture leads and drive sales conversations.
                        p
                            strong On-Demand Assets:
                            |  After your live webinar is over, we repackage the event into a user-friendly recording that continue to generate leads by tracking new registrations and poll responses.
                    .services-image
        a.down-arrow.page-scroll(href='#technology')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#technology.service.bg-light-gray
        .container
            .row
                .col-lg-12
                    .text
                        h2 Technology
                        p
                            strong The Best Webinar Platform:
                            |  Adobe&reg; Connect&trade; has been named a &ldquo;Leader&rdquo; of Webinar Technology by Gartner for 8 years in a row.
                        p
                            strong The Nitty-Gritty:
                            |  The general rule is: if you want to do it, we can do it. We provide branding, VoIP/telephone audio, video streaming, music, screen sharing, polling, multiple and flexible layouts, whiteboards, drawing, a presenter-only area, host/presenter/participant chatting, and more.
                    .services-image
        a.down-arrow.page-scroll(href='#customization')
            i.fa.fa-angle-double-down(aria-hidden='true')
    section#customization.service
        .container
            .row
                .col-lg-12
                    .text
                        h2 Customization
                        p
                            strong Tailored to Your Needs:
                            |  We will customize reports, run additional rehearsals, and do whatever else is needed so that each client receives the service and deliverables they need for their webinars to be a success.
                    .services-image
        a.down-arrow.page-scroll(href='#contact')
            i.fa.fa-angle-double-down(aria-hidden='true')
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
