extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Rally Point Webinars | Thinking')

block content
    include ../partials/navbar
    +makeNavbar('thinking')
    header.thinking
        .container
            .row
                .intro-text
                    .intro-heading.col-md-12 webinar thinking.
                    .intro-lead-in.col-md-9 Learn lessons and best practices from the thousands of webinars we have produced.
                    .col-md-12
                        a.page-scroll.btn.btn-xl(href='#media') View Media
    section#media.bg-light-gray
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading Media
            .thinking-cards
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=2897&source=homepage')
                            h3 An Interview With the &quot;Webinar Guru&quot;
                    .image
                        a(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=2897&source=homepage')
                            img.img-responsive(src='images/topsalescover-aaronv2.jpg', alt='Top Sales Cover: Aaron Joslow')
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=271&source=rpweventpage')
                            h3 The 7 Keys to Running a Glitch-Free Webinar
                    .image
                        a(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=271&source=rpweventpage')
                            img.img-responsive(src='images/whitepaperimage-registration.jpg', alt='Running A Glitch-Free Webinar')
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://www.rallypointwebinars.com/case-studies/generating-fortune-1000-leads-with-events.html ')
                            h3 Generating Fortune 1000 Leads with 100 Global Events, without Adding Staff
                    .image
                        a(target='_blank', rel='noopener', href='http://www.rallypointwebinars.com/case-studies/generating-fortune-1000-leads-with-events.html ')
                            img.img-responsive(src='images/whitepaperimage-registration.jpg', alt='Running A Glitch-Free Webinar')
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=651&source=ideaspage')
                            h3 Expand Reach, Grow Revenue - When Lead Generation Webinars Make Business Sense for Your Firm
                    .image
                        a(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=651&source=ideaspage')
                            img.img-responsive(src='images/whitepaperimage-registration.jpg', alt='Running A Glitch-Free Webinar')
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=671&source=ideaspage')
                            h3 Keeping Good Webinars from Looking Bad
                    .image
                        a(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=671&source=ideaspage')
                            img.img-responsive(src='images/whitepaperimage-registration.jpg', alt='Running A Glitch-Free Webinar')
                .thinking-card
                    .text
                        a.title(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=1231&source=rpwideaspage')
                            h3 A Quick Guide to Quick, Powerful Webinar Content
                    .image
                        a(target='_blank', rel='noopener', href='http://events.rallypointwebinars.com/course/webinar.php?id=1231&source=rpwideaspage')
                            img.img-responsive(src='images/whitepaperimage-registration.jpg', alt='Running A Glitch-Free Webinar')
    include ../partials/contact
    include ../partials/footer
    include ../partials/bottom
