@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@mixin slide-up-fade-in($delay) {
    opacity: 0;
    animation-name: slide-up-fade-in;
    animation-duration: 1000ms;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    transition: all 200ms;
}

.scroll-visible {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
}

@mixin scroll-visible-setup($speed) {
    transition: opacity $speed, transform $speed;
    opacity: 0;
    transform: translateY(25px);
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }
    40% {
        transform-origin: bottom;
        transform: skewX(0deg);
    }
    60% {
        transform-origin: bottom;
        transform: translateX(0) skewX(8deg);
    }
    90% {
        transform-origin: bottom;
        transform: translateX(0) skewX(5deg);
    }
    100% {
        transform-origin: bottom;
        transform: translateX(0) skewX(0);
        opacity: 1;
    }
}
@mixin slide-in($delay) {
    opacity: 0;
    animation-name: slide-in;
    animation-duration: 700ms;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
