.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 60px;
    padding: 15px;
    cursor: pointer;
    color: #555;
    font-size: 30px;
    line-height: 1;
    z-index: 1;

    &:hover {
        color: $fvi-blue;
    }
}

.down-arrow {
    cursor: pointer;
    font-size: 6rem;
    color: #aaa;
    position: absolute;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    z-index: 1;
}

.back-to-top-btn {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 7px;
    padding-top: 3px;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 15px -3px #333;
    z-index: 100;
}
