@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #444;
    font-family: 'Lato', sans-serif;
}
